
<div class="body-back">
  <div class="masthead pdng-stn1">
    <div id="menu" class="panel" role="navigation">
      <div class="wrap-content">
        <div class="profile-menu text-center">
            <h3>MENU</h3>

<!-- navbar -->

            <div class="pro-menu">
              <div class="logo">
                <li><a class=" link link--yaku  active" href="/homepage">Track</a></li>
                <li><a class=" link link--yaku" href="/faq"><span>FAQ</a></li>
                <li><a class=" link link--yaku" href="/trackers"><span>Manage Trackers</a></li>
                <li><a class=" link link--yaku" href="/B_trackers"><span>B -- Manage Trackers</a></li>

              </div>
        
            </div>
        </div>
      </div>
    </div>

    <div class="phone-box wrap push" id="home">
      <div class="menu-notify">
        <div class="profile-left">
          <a href="#menu" class="menu-link"><i class="fa fa-list-ul"></i></a>
        </div>
          <div class="Profile-mid">
          <h1 class="pro-link" style ="color:#ffffff;" style="font-family:arial;">STAY</h1>
        </div>
            </div>
          </div>