<!doctype html>

<html>
<head>
	<title>HELP/FAQ</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <link href="/css/index.css" rel="stylesheet">
 <html lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() {setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<meta charset utf="8">
<!--font-awsome-css-->
     <link rel="stylesheet" href="css/font-awesome.min.css"> 
<!--bootstrap-->
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<!--custom css-->
  <link href="css/style.css" rel="stylesheet" type="text/css"/>
<!--component-css-->
   <script src="js/jquery-2.1.4.min.js"></script>
<!--script-->
  <script src="js/modernizr.custom.js"></script>
    <script src="js/bigSlide.js"></script>
           <script>
        $(document).ready(function() {
        $('.menu-link').bigSlide();
        });
     </script>
<!-- web-fonts -->  
  <link href='//fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
</head>

<body>
	  {{>navbar}}

	<div>
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		<div>
			<h1>HELP/FAQ Documentation</h1>
		</div>


		<h4>Welcome</h4>
	
				<p>Welcome to STAY, a mobile web App using auditory feedback for item tracking. 
To get started, please have your tracker devices ready. It might take a few minutes to set up your trackers, please be patient.

</p>
		<h4>Set-up Your Account and Trackers</h4>
		<p>First, create an account or log in with your Facebook account. 
Second, click on “Register” button to pair your tracker with your device.  You can name your tracker with a nickname, such as “puppy”, “keys”, “cars” , for your convenience, and look-up the tracker number with the number on the tracker itself. Then you can set the radius for tracking, if the distance between the tracker and the center location (whether it’s a pin or your current location) is greater than the radius you set, the alarm will set off and you could hear the sound notification on your device to alert you that your trackers are going out of bounds.</p>
<h4>Check the Current Status of Your Trackers on Homepage</h4>
		<p>After you have set up everything for your tracker, click on the “add” button to add your tracker to the tracker list, then the page should renavigate to the homepage where you can see a full list of your trackers and a live map below the list. The map should indicate the current location of your trackers, as well as your current location. </p>
		<h4>Out of Bounds Notification</h4>
		<p>If the distance between the tracker and the center location (whether it’s a pin or your current location) is greater than the radius you set, the alarm will set off and you could hear the sound notification on your device to alert you that your trackers are going out of bounds. If you have given permission to the web app, it would also send you a push notification to your device. You can click on the notification, and a browser page will pop up to your home page. </p>
	</div>
</body>
</html>
